<div class="container">
  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <% @place.each do |key,value| %>
      <th> <%= key %> </th>
      <% end %>
    </tr>
  </table>

</div>
